<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="logs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprd2C4yFDPupuLzxRVU2zYDvJJlTxwsio53o5rSnUsjoQM" /><add key="AccessTokenSecret" value="htziWfmDpvdAAdXQz24UgfNHwkobvFbnUxtUxaYB" /><add key="ConsumerKey" value="qyprdvGDB4mkVN43MYU9QPXdy2RZh7" />
    <add key="ConsumerSecret" value="5w777NLYpdr0ZSXXfSJWsreCjuvFITTR0MMySQvc" />
    <add key="RealmID" value="123145818589417" /></appSettings>
</configuration>